name: Publish @mornieur/core to GitHub Packages

on:
  push:
    tags:
      - "v*.*.*"  

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    
      - name: Checkout
        uses: actions/checkout@v4

    
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://npm.pkg.github.com/"


      - name: Install dependencies
        run: npm install --legacy-peer-deps

     
      - name: Build package
        run: npm run build

     
      - name: Authenticate
        run: npm config set //npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN }}

  
      - name: Publish
        run: npm publish --access public --registry https://npm.pkg.github.com/
